.spritzer-container .spritzer-control-rewind,.spritzer-container .spritzer-control-begin{
	width:30px;
	height:30px;
	background-image:url('file:///media/internal/.moboreader/assets/images/sprite.png');
	background-position:0 -120px;
	color:transparent !important;
}

.spritzer-container .spritzer-control-back{
	width:30px;
	height:30px;
	background-image:url('file:///media/internal/.moboreader/assets/images/sprite.png');
	background-position:0 0;
	color:transparent !important;
}
.spritzer-container .spritzer-control-pauseplay,.spritzer-container .spritzer-control-play{
	width:30px;
	height:30px;
	background-image:url('file:///media/internal/.moboreader/assets/images/sprite.png');
	background-position:0 -90px;
	color:transparent !important;
}

.spritzer-container .spritzer-control-forward{
	width:30px;
	height:30px;
	background-image:url('file:///media/internal/.moboreader/assets/images/sprite.png');
	background-position:0 -30px;
	color:transparent !important;
}

.spritzer-container .spritzer-control-pause{
	width:30px;
	height:30px;
	background-image:url('file:///media/internal/.moboreader/assets/images/sprite.png');
	background-position:0 -60px;
	color:transparent !important;
}
