/*spinner stuff, taken from http://www.html5rocks.com/en/tutorials/es6/promises/sync-example.html, License?*/

/* ersetzen,
  http://codepen.io/rlemon/pen/KyDgh
  wäre sehr WP ähnlich... könnte man für die einzelnen Artikel machen. Oder irgendwo oben/unten dynamisch einblenden.
  Wobei ich das beim Artikellesen vielleicht einfach weglassen würde, sondern nur in der Artikelliste.
  License: http://blog.codepen.io/legal/licensing/

  Mehr Möglichkeiten:
  http://t3n.de/news/inspiration-css-ladebalken-480481/ (auch alle bei Codepen)

  Alternative, auch MIT: http://fgnass.github.io/spin.js/ <- Pro: wird aktiv entwickelt, github.
*/

@-webkit-keyframes spin {
  to {
    stroke-dashoffset: -264;
  }
}

@keyframes spin {
  to {
    stroke-dashoffset: -264;
  }
}

.spinner circle {
  fill: none;
  stroke: slategray;
  stroke-width: 16;
  stroke-linecap: round;
  stroke-dasharray: 0, 0, 70, 194;
  stroke-dashoffset: 0;
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}
